* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form,
h1,
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  background-color: white;
  padding: 5rem 5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 20px rgba(0, 0, 0, 0.23);
}
