* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

form,
h1,
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  background-color: white;
}
